// Mixins in here

//for no links to be highlighted:

.linkclear(){
    text-decoration: none;
    color: @shark;
}


.btn (){
    display: block;
    background-color: @eastern-blue;
    color: @white;
    padding: 8%;
    border-radius: 7px;
}