// Mixins in here

//for no links to be highlighted:

.linkclear(){
    text-decoration: none;
    color: @shark;
}


.btn (){
    display: block;
    background-color: @eastern-blue;
    color: @white;
    padding: 5%;
    border-radius: 8px;
    text-align: center;
    font-size: 15px;
    width: 75%;
}